body{
    font-family: 'Lato,sans-serif' !important;
    font-weight: 300;
    font-style: normal;
}
.custom-navbar {
	box-shadow: 1px 1px 1px #eee;
	z-index: ;
	background-color: #fff;
}

.navbar, .navbar-brand{
    padding: 0px !important;
}

.nav-link {
	color: #f7204e!important;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(247, 32, 78);
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
	width: 18px!important;
}

.custom-toggler:hover {
	border-color: rgb(255, 255, 255);
	background-color: #f76a88;
}

.navbar-toggler-icon:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 760px) {
	#logo_custom {
		width: 40%;
	}
}

.carousel-inner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.nav-item a b{
    font-size: 15px;
    font-family: monospace;
    font-weight: normal;
    color: white;
}

.dropdown a{
    padding: 10px;
    font-size: 15px;
    font-family: monospace;
    font-weight: normal;
    color: white;
}

.fixed-top{
    background-color: black;
}

.dropdown-menu {
    background-color: black;
}

.fa-users:before, .fa-university:before, .fa-male:before, .fa-calendar:before {
    font-size: 50px;
}

.fa-users{
    color: goldenrod;
}

.fa-university:before{
    color: cornflowerblue;
}

.fa-male:before{
    color: crimson;
}
.fa-calendar:before {
    color: darkseagreen;
}

.table td, .table th {
   text-align: center;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
        background: black;
}

.navbar-collapse {
    padding-right: 15px;
}

.contact-desc{
    color: white;
}


.col-md-4{
    text-align: center;
}
.text-center {
    color: dimgrey;
}


#contact-location-image{
    object-fit: contain;
}

.contact-inner, fa fa-map-marker, contact-title{
color: red;
}
