.sec-title {
	position: relative;
	z-index: 1;
	margin-bottom: 65px;
}

.sec-title .title {
	position: relative;
	font-size: 18px;
	color: rgb(247, 32, 78);
	font-weight: 700;
	margin-bottom: 12px;
	text-transform: capitalize;
}

.sec-title .separator {
	position: relative;
	width: 40px;
	margin-top: 16px !important;
}

.sec-title .separator:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 10px;
	height: 2px;
	background-color: #ff9600;
}

.sec-title .separator:after {
	position: absolute;
	content: '';
	right: 0px;
	top: 0px;
	width: 10px;
	height: 2px;
	background-color: #ff9600;
}

.sec-title .separator span {
	position: absolute;
	left: 50%;
	top: -2px;
	width: 10px;
	height: 5px;
	margin-left: -5px;
	display: inline-block;
	background-color: #bd0000;
}

.sec-title h2 {
	position: relative;
	color: #222222;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2em;
	margin-top: 35px;
}

.sec-title .text {
	position: relative;
	font-size: 14px;
	line-height: 1.9em;
	color: #555555;
	margin-top: 10px;
}

.sec-title.centered .separator {
	margin: 0 auto !important;
	float: none !important;
}

.sec-title.centered {
	text-align: center !important;
}

.sec-title.light .title {
	color: #ffffff;
}

.sec-title.light h2 {
	color: #ffffff;
}

.sec-title.light .separator span {
	background-color: #ff9600;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after {
	background-color: #ffffff;
}

@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 90%;
}

.slider::before,
.slider::after {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
	/*-webkit-animation: scroll 40s linear infinite;*/
	/*animation: scroll 40s linear infinite;*/
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
    text-align: center;
}

.com-logo{
    width: 100%
    height: 100%
	vertical-align: middle;
	object-fit: contain;
}
