<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>SITE - Shree Institute of Technical Education</title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
   </head>
   <body>
   {% include 'navigation.html'%}
      <div id="demo" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
         </ul>
         <!-- The slideshow -->
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="{{ url_for('static', filename='images/0.jpeg') }}" alt="College">
            </div>
            <div class="carousel-item">
               <img src="{{ url_for('static', filename='images/2-6.jpg') }}" alt="Guest lecture">
            </div>
            <div class="carousel-item">
               <img src="{{ url_for('static', filename='images/7-1.png') }}" alt="Transpotation">
            </div>
         </div>
         <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
      <div class="container">
         <br><br>
         <h3 align="center" color="#f7204e">WELCOME TO SHREE INSTITUTE OF TECHNICAL EDUCATION</h3>
         <br>
         <p style="width:100%">SHREE INSTITUTE OF TECHNICAL EDUCATION has been established in 2008. Around 20acres near Gopalapuram, Our institution is very near to the educational hub Tirupathi, 10 minutes to reach international airport and very near to (Lord shiva temple) Srikalahasti. According to industry needs and requirements we will train our students in Arithmetic & ReasoningWelcome to SHREE INSTITUTE OF TECHNICAL EDUCATION, a platform which combines its rich tradition and history with a forward thinking approach to education. At SHREE, we believe that Education should be a transformational, inspirational, and a life-changing experience.
         </p>
         <br>
         <p>
            The College was established in 2008, with the aim of providing education based on “sound principle and sound knowledge”, with a dedicated, talented, inspiring staff, fantastic facilities and an impressive rural setting. We balance the pursuit of academic excellence with a broad co-curricular programme. There are all manner of opportunities within and beyond the classroom. As a College within the wider University network JNTU, Ananthapuram, we are a dynamic, fast-growing educational institution that recognises our strategic location in and around 20 acres near gopalapuram. At Shree, the Students are nurtured and challenged to realise their potential.
         </p>
      </div>
      <br>
      <section class="page-section" id="services">
         <div class="container">
            <h2 class="text-center mt-0">PORTFOLIO</h2>
            <hr class="divider my-4">
            <div class="row">
               <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                     <i class="fa fa-users"></i>
                     <br>
                     <br>
                     <h2 class="h5 mb-2">Guest Lectures</h2>
                     <h2 class="text-muted mb-0">100</h2>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                     <i class="fa fa-calendar"></i>
                     <br>
                     <br>
                     <h2 class="h5 mb-2">National Level Events</h2>
                     <h2 class="text-muted mb-0">20</h2>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                     <i class="fa fa-male"></i>
                     <br>
                     <br>
                     <h2 class="h5 mb-2">Alumini</h2>
                     <h2 class="text-muted mb-0">1000</h2>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                     <i class="fa fa-university"></i>
                     <br>
                     <br>
                     <h2 class="h5 mb-2">Placement Drives</h2>
                     <h2 class="text-muted mb-0">30</h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div id="footer-placeholder"></div>
      <script src="//code.jquery.com/jquery.min.js"></script>
      <script>
         $.get("static/footer.html", function(data){
             $("#footer-placeholder").replaceWith(data);
         });
      </script>
   </body>
</html>