<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
   <a href="/"><img class="navbar-brand" src="{{ url_for('static', filename='images/nav_logo.jpg') }}" id="logo_custom" width="400px"  alt="logo"></a>
   <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon "></span>
   </button>
   <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto ">
         <li class="nav-item">
            <a class="nav-link" href="/"><b>HOME</b></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/admissions"><b>ADMISSIONS</b></a>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <b>ACADEMICS</b>
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">COMPUTER SCIENCE ENGINEERING</a>
               <a class="dropdown-item" href="#">ELECTRICAL & ELECTRONICS ENGINEERING</a>
               <a class="dropdown-item" href="#">CIVIL ENGINEERING</a>
               <a class="dropdown-item" href="#">MECHANICAL ENGINEERING</a>
               <a class="dropdown-item" href="#">ELECTRONICS & COMMUNICATION ENGINEERING</a>
            </div>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/placements"><b>PLACEMENTS</b></a>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <b>CAMPUS LIFE</b>
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="{{ url_for('library') }}">LIBRARY</a>
               <a class="dropdown-item" href="{{ url_for('sports') }}">SPORTS</a>
               <a class="dropdown-item" href="{{ url_for('gallery') }}">GALLERY</a>
            </div>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/about-us"><b>ABOUT US</b></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/contact-us"><b>CONTACT US</b></a>
         </li>
      </ul>
   </div>
</nav>